@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: Roboto;
  background: #f1f1f1;
}
header {
  position: fixed;
  background: #ffffff;
  width: 100%;
  height: 56px;
  padding: 16px 12px 0px 0px;
  top: 0;
  right: 0;
  padding-left: 0px;
}

svg {
  fill: #606060;
}
.top-menu {
  margin-bottom: 3.5714em;
  display: flex;
  justify-content: space-between;
}
.top-menu a svg {
  fill: #606060;
}
.top-menu a {
  text-decoration: none;
}
.top-menu nav a {
  margin: 0px 0px 0px 17px;
  vertical-align: middle;
}
.top-menu nav .red-point {
  margin-left: -10px;
  vertical-align: top;
}
.dropdown {
  margin-left: 50px;
  margin-right: 35px;
}
.fire {
  width: 1em;
}
.home {
  width: 1.4286em;
}

.side-menu {
  font-size: 14px;
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 17.1429em;
  margin-top: 72px;
}
.side-menu.active {
  width: 5em;
}


span {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 200;
  fill: #606060;
}

.side-menu a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  color: #000000;
  display: block;
  padding: 0.8571em 0;
  cursor: pointer;
}

.side-menu a:hover {
  background: rgba(82, 82, 82, 0.123);
}
.side-menu a.active {
  background: rgba(0, 0, 0, 0.1);
}
.side-menu a.active span {
  font-weight: bold;
}
span.active {
  font-weight: bold;
}

.side-menu a.active:hover {
  background: rgba(0, 0, 0, 0.171);
}


.side-menu a.active svg {
  fill: #f00;
}

.side-menu a .icon {
  margin-left: 1.8571em;
  display: inline-block;
  width: 1.4286em;
  text-align: center;
  vertical-align: middle;
}

.side-menu a .text {
  display: inline-block;
  margin-left: 1.8571em;
  vertical-align: middle;
}
.side-menu.active .text {
  display: none;
}

hr {
  margin: 0.8571em 0;
}



@media only screen and (max-width: 600px) {
  .side-menu {
    font-size: 11px;
  }
}

#blupoint {
  float: right;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: blue;
  margin: 14px 0px;
}
input {
  border: 1px solid grey;
  border-radius: 3px 0px 0px 3px;
  width: 574px;
  height: 30px;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
}
input:focus {
  border: 1px solid rgba(50, 71, 190, 0.726);
}
.search-button {
  width: 63px;
  height: 34px;
  border: 1px solid grey;
  border-radius: 0px 3px 3px 0px;
  padding: 0px 0px 1px 0px;
  margin-left: -4px;
  outline: none;
  border-left: none;
}

.search-button:hover {
  background-color: rgba(0, 0, 0, 0.178);
}
.search-button:hover svg {
  fill: black;
}
